* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-size: 15pt;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

h1 {
  position: relative;
  border: 1px solid black;
  background: rgba(128,0,128,0.2)
}

.navburger {
  float: right;
}

.navburger__patty {
  height: 12px;
  width: 48px;
  background: black;
}

.navburger__patty:not(:first-child) {
  margin-top: 6px;
}

#klattring {
  /*margin-top: 1000px;*/
}

.klattring {
  display: none;
}

.personer {
  display: none;
}

#personer {
  /*margin-top: 1000px;*/
  color: orange;
  display: none;
}

.menu {
  position: absolute;
  /*transform: translateY(-250px);*/
  transition: transform 0.5s ease-in-out;
}

.showMenu {
  transform: translateY(-250px);
}

blockquote p:not(:last-child) {
  font-style: italic;
}

.show {
  display: inherit;
}